<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZH8KgcX_VXUycpNxM_dh_NNWZEn-9LOk</string>
	<key>GCM_SENDER_ID</key>
	<string>664322998685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambulanceDriver</string>
	<key>PROJECT_ID</key>
	<string>bike9pro-586e0</string>
	<key>STORAGE_BUCKET</key>
	<string>bike9pro-586e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664322998685:ios:56e66c5ec58a3cbefe6f74</string>
</dict>
</plist>